*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


html {
  font-size: 15px;
}

body {
  width: 87.5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10%;
  font-family: "Palatino", "Book Antiqua", "Optima", "Arial", sans-serif;
  background-color: #fffff8;
  color: #111;
  max-width: 1400px;
  text-rendering: optimizeLegibility;
}

h1 {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
}

h2 {
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 0;
  font-size: 2rem;
  line-height: 1;
}

h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 0;
  line-height: 1;
}

p {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  line-height: 2rem;
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

p, footer, pre, code {
  width: 60%;
}

@media screen and (max-width: 760px) {
  p, pre, code { width: 90%; }
}

article {
  position: relative;
  padding: 5rem 0rem;
}

a {
  color: #111;
  text-decoration: none;
  border-bottom: 1px solid #777;
  padding-bottom: 1px;
}

img {
  max-width: 100%;
}

pre {
  float: right;
  clear: right;
  margin-left: -60%;
  width: 30%;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: baseline;
  position: relative;
  white-space: pre-wrap;
}

code {
  font-famly: Consolas, Menlo, Courier, Courier New, monospace;
  font-size: 1 rem;
  line-height: 1.6;
/*  padding: 0 0 0 2em;
  overflow-x: scroll;
*/
}


table { width: 60%;
        text-align: right;
        font-size: 1.2rem;
        line-height: 1.4;
        margin: 1.4rem 1%;
        border-collapse: separate;
        border-spacing: 0 5px;
       }

thead th { border-bottom: 1px solid #AAAAAA;
           font-weight: 400;
           border-collapse: separate;
           border-spacing: 5px 5px; }

td.text { text-align: left; }
